---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactMe from "../components/ContactMe.astro";
import Hero from "../components/Hero.astro";
import { pages } from "../components/config";

const aboutPage = pages.about;

const about = await Promise.all(
    (await getCollection("about")).map(async (entry) => {
        return { Content: (await entry.render()).Content, slug: entry.slug };
    })
);
---

<BaseLayout title={aboutPage.title} description={aboutPage.description}>
    <div class="stack gap-20">
        <main class="wrapper about">
            <Hero title={aboutPage.heroTitle} tagline={aboutPage.tagline}>
                <img
                    width="1553"
                    height="873"
                    src="/assets/about.jpg"
                    alt="About picture"
                />
            </Hero>
            {
                about.map((Component) => (
                    <section>
                        <h2 class="section-title">{Component.slug}</h2>
                        <div class="content">
                            <Component.Content />
                        </div>
                    </section>
                ))
            }
        </main>

        <ContactMe />
    </div>
</BaseLayout>

<style>
    .about {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
    }

    img {
        margin-top: 1.5rem;
        border-radius: 7.5rem;
        box-shadow: var(--shadow-md);
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: var(--gray-200);
    }

    .section-title {
        grid-column-start: 1;
        font-size: var(--text-xl);
        color: var(--gray-0);
    }

    .section-title::first-letter {
        text-transform: capitalize;
    }

    .content {
        grid-column: 2 / 4;
    }

    .content :global(p) {
        margin-bottom: 2rem;
    }

    .content :global(a) {
        text-decoration: 1px solid underline transparent;
        text-underline-offset: 0.25em;
        transition: text-decoration-color var(--theme-transition);
    }

    .content :global(a:hover),
    .content :global(a:focus) {
        text-decoration-color: currentColor;
    }

    @media (min-width: 50em) {
        .about {
            display: grid;
            grid-template-columns: 1fr 60% 1fr;
        }

        .about > :global(:first-child) {
            grid-column-start: 2;
        }

        section {
            display: contents;
            font-size: var(--text-lg);
        }
    }
</style>
