---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactMe from "../components/ContactMe.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";
import Icon from "../components/Icon.astro";
import { pages } from "../components/config";

import { projects } from "../lib/projects";

const projectsPage = pages.projects;
---

<BaseLayout title={projectsPage.title} description={projectsPage.description}>
    <div class="stack gap-20">
        <main class="wrapper stack gap-8">
            <Hero
                title={projectsPage.heroTitle}
                tagline={projectsPage.tagline}
                align="start"
            />
            <Grid variant="offset">
                {
                    projects.map((project) => (
                        <li>
                            <PortfolioPreview project={project} />
                        </li>
                    ))
                }
            </Grid>
            <div style="text-align: right;">
                <a href="/old/projects" style="text-decoration: none;">
                    Older projects
                    <Icon icon="arrow-right" />
                </a>
            </div>
        </main>
        <ContactMe />
    </div>
</BaseLayout>
