---
import CallToAction from "./CallToAction.astro";
import Icon from "./Icon.astro";
import {
    CONTACT_EMAIL,
    CONTACT_TEMPLATE_SUBJECT,
    CONTACT_TEMPLATE_BODY,
} from "./config";

import "../styles/contact.css";

const DEFAULT_MAIL_LINK = `mailto:${CONTACT_EMAIL}`;
const GMAIL_LINK = `https://mail.google.com/mail/?view=cm&to=${CONTACT_EMAIL}&su=${CONTACT_TEMPLATE_SUBJECT}&body=${CONTACT_TEMPLATE_BODY}`;
---

<aside class="contact">
    <h2 class="contact">Want to get in contact?</h2>
    <div>
        <CallToAction href={DEFAULT_MAIL_LINK} target="_blank">
            Send me a message
            <Icon icon="paper-plane-tilt" size="1.2em" />
        </CallToAction>
        <br />
        <CallToAction href={GMAIL_LINK} target="_blank">
            Or go to Gmail
            <Icon icon="gmail-coloured" size="1.2em" />
        </CallToAction>
    </div>
</aside>
