---
import CallToAction from "./CallToAction.astro";
import Icon from "./Icon.astro";
import {
    contact_template_subject,
    contact_template_body,
    email,
    links,
} from "../config";

import "../styles/contact.css";

const GMAIL_LINK = `https://mail.google.com/mail/?view=cm&to=${email}&su=${contact_template_subject}&body=${contact_template_body}`;
---

<aside class="contact">
    <h2 class="contact">Want to get in contact?</h2>
    <div>
        <CallToAction href={links.email} target="_blank">
            Send me a message
            <Icon icon="paper-plane-tilt" size="1.2em" />
        </CallToAction>
        <br />
        <CallToAction href={GMAIL_LINK} target="_blank">
            Or go to Gmail
            <Icon icon="gmail-coloured" size="1.2em" />
        </CallToAction>
    </div>
</aside>
