---
import { type WorkEntry } from "../lib/work_entry";

import "../styles/work_card.css";

interface Props {
    work: WorkEntry;
    animate?: boolean;
    color?: boolean;
    index?: number;
}

const { work, animate = false, color = true, index = 0 } = Astro.props;
const classes = [
    "work-section enlarge-on-hover",
    animate ? "alive" : "",
    color ? "colored" : "",
].join(" ");

const animation_delay = `--animation-delay: ${-index * 3}s;`;
const line_animation_delay = `--line-animation-delay: ${-index * 1.5}s;`;
const style = `${animation_delay} ${line_animation_delay}`;
---

<div class={classes} data-index={index} style={style}>
    <div class="work-section-inner">
        <div class="work-header">
            <a href={work.link} target="_blank" class="work-link">
                <h2>{work.company} - {work.position}</h2>
            </a>
        </div>
        <div class="work-subheader">
            <span>{work.type}</span>
            <span class="work-date">{work.date}</span>
        </div>
        <div class="divider"></div>
        <div class="work-content">
            <ul>
                {work.activities.map((activity) => <li>{activity}</li>)}
            </ul>
        </div>
    </div>
</div>
