---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";

import Grid from "../../components/Grid.astro";
import Hero from "../../components/Hero.astro";
import Icon from "../../components/Icon.astro";
import OldProject from "../../components/OldProject.astro";
import { pages } from "../../config";

import { type ProjectEntry } from "../../lib/project_entry";

import "../../styles/old.css";

const old_projects: { data: ProjectEntry; id: string }[] = (
    await getCollection("old-projects")
).sort((a, b) => a.data.order - b.data.order);

const old_projects_page = pages.old_projects;
---

<BaseLayout
    title={old_projects_page.title}
    description={old_projects_page.description}
>
    <div class="stack gap-20">
        <main class="wrapper stack gap-8">
            <a class="back-link" href="/projects/"
                ><Icon icon="arrow-left" /> Recent Projects
            </a>
            <Hero
                title={old_projects_page.hero_title}
                tagline={old_projects_page.tagline}
                align="start"
            />
            <Grid variant="offset">
                {
                    old_projects.map((project) => (
                        <li>
                            <OldProject project={project} />
                        </li>
                    ))
                }
            </Grid>
        </main>
    </div>
</BaseLayout>
